---
---
<div class="absolute overflow-hidden top-0 left-0 !z-0 w-full pointer-events-none">
  <div class="max-w-[100vw] h-[100vw] overflow-hidden"><img class="h-[100vh] w-full fixed pointer-events-none" src="https://astrolion.vercel.app/images/background.png" alt="background stars">
    <div class="animate-fade-in" style="transform: translateY(-60px) translateZ(0px);"><img class="absolute -top-[25rem] -right-[10rem] object-contain w-[54rem] opacity-20" src="/assets/images/globo2.webp" alt="planet background" style="opacity: 0.2; transform: none;"></div>
  </div>
</div>
